@use "./variables" as *;

body {
  font-family: $primary-font;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.fs {
  &-xs {
    font-size: 0.7rem;
  }

  &-sm {
    font-size : 0.85rem;
  }

  &-md {
    font-size : 1rem;
  }

  &-lg {
    font-size : 2rem;
  } 
}

.fw {
  &-light {
    font-weight: 300;
  }

  &-regular {
    font-weight: 400;
  }

  &-medium {
    font-weight: 500;
  }

  &-semibold {
    font-weight: 600;
  }
}